spring:
  config:
    name: application-pro
  application:
    name: yubi-backend
  profiles:
    active: dev
  # 支持 swagger3
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # session 配置
  session:
    store-type: redis
    timeout: 2592000
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${yubi.mysql.ip}:${yubi.mysql.port}/${yubi.mysql.db}?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: ${yubi.mysql.username}
    password: ${yubi.mysql.password}
  # Redis 配置
  redis:
    database: ${yubi.redis.database}
    host: ${yubi.redis.host}
    port: ${yubi.redis.port}
    password: ${yubi.redis.password}
    timeout: 5000
  # Elasticsearch 配置
  #  elasticsearch:
  #    uris: http://localhost:9200
  #    username: root
  #    password: 123456
  # 文件上传
  servlet:
    multipart:
      # 大小限制
      max-file-size: 10MB
  rabbitmq:
    host: ${rabbitmq.host}
    port: ${rabbitmq.port}
    username: ${rabbitmq.username}
    password: ${rabbitmq.password}
server:
  address: 0.0.0.0
  port: 9090
  ssl:
    key-store: classpath:_.leikooo.icu.jks
    key-store-type: JKS
    key-store-password: ${ssl.key-password}
  servlet:
    context-path: /api
    # cookie 30 天过期
    session:
      cookie:
        max-age: 2592000
        same-site: none
        secure: true
        domain: leikooo.icu
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）
# 微信相关
wx:
  # 微信公众平台
  mp:
    token: xxx
    aesKey: xxx
    appId: xxx
    secret: xxx
    config-storage:
      http-client-type: HttpClient
      key-prefix: wx
      redis:
        host: 127.0.0.1
        port: 6379
      type: Memory
  # 微信开放平台
  # todo 需替换配置
  open:
    appId: xxx
    appSecret: xxx
# 对象存储
# todo 需替换配置
cos:
  client:
    accessKey: xxx
    secretKey: xxx
    region: xxx
    bucket: xxx
## 阿里云百炼
bai-lian:
  agentKey: ${bai-lian.agentKey}
  accessKeySecret: ${bai-lian.accessKeySecret}
  accessKeyId: ${bai-lian.accessKeyId}
## 讯飞 AI 配置
xun-fei:
  client:
    appId: ${xun-fei.client.appId}
    apiSecret: ${xun-fei.client.apiSecret}
    apiKey: ${xun-fei.client.apiKey}
